
<div class="row">
  <div class="span16">
<%= form_for(@home, :html => { :method => :get, :class => 'form-horizontal' }, :url => transforme_index_path) do |f| %>
<div class="control-group">    
           <div class="controls">
              <label class="checkbox inline">
                <span class="badge badge-success">01</span>&nbsp;
                <%= f.text_field :aa, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">02</span>&nbsp;
                <%= f.text_field :bb, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">03</span>&nbsp;
                <%= f.text_field :cc, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">04</span>&nbsp;
                <%= f.text_field :dd, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">05</span>&nbsp;
                <%= f.text_field :ee, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">06</span>&nbsp;
                  <%= f.text_field :ff, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">07</span>&nbsp;
                <%= f.text_field :gg, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">08</span>&nbsp;
                <%= f.text_field :hh, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">09</span>&nbsp;
                <%= f.text_field :ii, :class => 'input-hipermini' %>
              </label>
            </div>
            <div class="controls">
              <label class="checkbox inline">
                <span class="badge badge-success">10</span>&nbsp;
                <%= f.text_field :jj, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">11</span>&nbsp;
                  <%= f.text_field :kk, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">12</span>&nbsp;
                <%= f.text_field :ll, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">13</span>&nbsp;
                <%= f.text_field :mm, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">14</span>&nbsp;
                <%= f.text_field :nn, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">15</span>&nbsp;
                <%= f.text_field :oo, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">16</span>&nbsp;
                  <%= f.text_field :pp, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">17</span>&nbsp;
                <%= f.text_field :qq, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">18</span>&nbsp;
                <%= f.text_field :rr, :class => 'input-hipermini' %>
              </label>
              </div>
              <br>

             <div class="control-group">    
              <b>Transformar em:</b>
               <div class="controls">
                <label class="radio inline">
              <span class="badge badge-warning">2</span>&nbsp;<%= f.radio_button :qtde_dezenas, "2", {:id => "r2"} %>
                </label>
                <label class="radio inline">
              <span class="badge badge-warning">3</span>&nbsp;<%= f.radio_button :qtde_dezenas, "3", {:id => "r3"} %>
                </label>
                <label class="radio inline">
              <span class="badge badge-warning">4</span>&nbsp;<%= f.radio_button :qtde_dezenas, "4", {:id => "r4"}%>
                </label>
                <label class="radio inline">
              <span class="badge badge-warning">5</span>&nbsp;<%= f.radio_button :qtde_dezenas, "5", {:id => "r5"} %>
                </label>
                <label class="radio inline">
              <span class="badge badge-warning">6</span>&nbsp;<%= f.radio_button :qtde_dezenas, "6", {:id => "r6"} %>
                </label>
                <label class="radio inline">
              <span class="badge badge-warning">7</span>&nbsp;<%= f.radio_button :qtde_dezenas, "7", {:id => "r7"} %>
                </label>
              <label class="radio inline">
              <span class="badge badge-warning">8</span>&nbsp;<%= f.radio_button :qtde_dezenas, "8", {:id => "r8"} %>
                </label>
                <label class="radio inline">
              <span class="badge badge-warning">9</span>&nbsp;<%= f.radio_button :qtde_dezenas, "9", {:id => "r9"} %>
                </label>
                <label class="radio inline">
              <span class="badge badge-warning">10</span>&nbsp;<%= f.radio_button :qtde_dezenas, "10", {:id => "r10"} %>
                </label>
                <label class="radio inline">
              <span class="badge badge-warning">11</span>&nbsp;<%= f.radio_button :qtde_dezenas, "11", {:id => "r11"} %>
                </label>
                <label class="radio inline">
              <span class="badge badge-warning">12</span>&nbsp;<%= f.radio_button :qtde_dezenas, "12", {:id => "r12"} %>
                </label>
              </div>  
            </div>
            <div class="control-group">    
              <b>Tipo:</b>
               <div class="controls">
                <label class="radio inline">
              <span class="badge badge-info">Número</span>&nbsp;<%= f.radio_button :numero_letra, "N" %>
                </label>
                <label class="radio inline">
              <span class="badge badge-info">Letra</span>&nbsp;<%= f.radio_button :numero_letra, "L" %>
                </label>
              </div>  
            </div>
            <div class="control-group">    
               <div class="controls">
                <label class="checkbox inline">
                  <%= f.check_box :exportar, {:id => "chk_exp"} %>Exportar
                </label>
                <%= f.text_field :nome_arquivo, :class => 'input-medium', :disabled => 'disabled' %>
              </div>  
            </div>
             <div class="row">
              <div class="span7">
                <%= f.submit 'Transformar' , :class => "btn btn-primary" %>&nbsp;&nbsp;<% if @resultado_total.size > 0 %>
                <%= @resultado_total.size %> jogo(s)<% end %>
              </div> <!-- span12-->
            </div> <!-- row -->

            <div class="control-group">    
        <br>
          <div class="control-group">    
            <div class="controls">
              <% if @resultado.size > 0 %>
                <table class="table table-striped">
                <tr>
                  <th width="10%">#</th>
                  <th>Regras</th>
                </tr>
                  <% @resultado.each do |result| %>
                    <tr>
                      <td><span style="color:#1E90FF"><b><%= @resultado_total.index(result) + 1 %></b></span></td>
                      <td><b><%= result %></b></td>
                    </tr> 
                  <% end %>  
               </table>
              <div class="apple_pagination">
                <%= will_paginate @resultado, :container => false, :next_label => 'Próximo', :previous_label => 'Anterior' %>
               </div>
              <% end %>
            </div>
          </div>  
        </div>
        <% end %>
 </div> <!-- span18-->
</div> <!-- row-fluid -->

<script>

if ($('#chk_exp').is('input:checked')) {
  $('#home_nome_arquivo').removeAttr('disabled');
}

$('#chk_exp').click(function() { 
  if ($('#chk_exp').is('input:checked')) {
    $('#home_nome_arquivo').removeAttr('disabled');
  } else {
    $('#home_nome_arquivo').attr('disabled','disabled');
  }
});


</script>
