
<%= form_for(@home, :html => { :method => :post, :class => 'form-horizontal' }, :url => home_index_path) do |f| %>
<div class="row">
  <div class="span17">
    <div class="row">
      <div class="span7"> 


      <div class="control-group">    
           <div class="controls">
              <label class="checkbox inline">
                <span class="badge badge-success">01</span>&nbsp;
                <%= f.text_field :aa, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">02</span>&nbsp;
                <%= f.text_field :bb, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">03</span>&nbsp;
                <%= f.text_field :cc, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">04</span>&nbsp;
                <%= f.text_field :dd, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">05</span>&nbsp;
                <%= f.text_field :ee, :class => 'input-hipermini' %>
              </label>
              </div>
             <div class="controls">
              <label class="checkbox inline">
                <span class="badge badge-success">06</span>&nbsp;
                  <%= f.text_field :ff, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">07</span>&nbsp;
                <%= f.text_field :gg, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">08</span>&nbsp;
                <%= f.text_field :hh, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">09</span>&nbsp;
                <%= f.text_field :ii, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">10</span>&nbsp;
                <%= f.text_field :jj, :class => 'input-hipermini' %>
              </label>
              </div>
             <div class="controls">
              <label class="checkbox inline">
                <span class="badge badge-success">11</span>&nbsp;
                  <%= f.text_field :kk, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">12</span>&nbsp;
                <%= f.text_field :ll, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">13</span>&nbsp;
                <%= f.text_field :mm, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">14</span>&nbsp;
                <%= f.text_field :nn, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">15</span>&nbsp;
                <%= f.text_field :oo, :class => 'input-hipermini' %>
              </label>
              </div>
              <div class="controls">
              <label class="checkbox inline">
                <span class="badge badge-success">16</span>&nbsp;
                <%= f.text_field :pp, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">17</span>&nbsp;
                <%= f.text_field :qq, :class => 'input-hipermini' %>
              </label>
              <label class="checkbox inline">
                <span class="badge badge-success">18</span>&nbsp;
                <%= f.text_field :rr, :class => 'input-hipermini' %>
              </label>
              </div>
              <br>

             <div class="control-group">    
              <b>Qtde Dezenas:</b>
               <div class="controls">
                <label class="radio inline">
              <span class="badge badge-warning">15</span>&nbsp;<%= f.radio_button :qtde_dezenas, "15", {:id => "r15"} %>
                </label>
                <label class="radio inline">
              <span class="badge badge-warning">16</span>&nbsp;<%= f.radio_button :qtde_dezenas, "16", {:id => "r16"}%>
                </label>
                <label class="radio inline">
              <span class="badge badge-warning">17</span>&nbsp;<%= f.radio_button :qtde_dezenas, "17", {:id => "r17"} %>
                </label>
                <label class="radio inline">
              <span class="badge badge-warning">18</span>&nbsp;<%= f.radio_button :qtde_dezenas, "18", {:id => "r18"} %>
                </label>
              </div>  
            </div>

            <div class="control-group">    
              <b>Concursos:</b>
               <div class="controls">
                <label class="radio inline">
              <span class="badge badge-inverse">Todos</span>&nbsp;<%= f.radio_button :tipo_concurso, "T", {:id => "tipo_t"} %>
                </label>
                <label class="radio inline">
              <span class="badge badge-inverse">Custom</span>&nbsp;<%= f.radio_button :tipo_concurso, "C", {:id => "tipo_c"} %>&nbsp;
              <%= select_tag 'home[operador]', options_for_select(['=','>', '<', ':', ','],@home.operador), {:class => 'input-supermini'} %>

              <%= f.text_field :concursos, :class => 'input-medium' %>
                </label>
              </div>  
            </div>

            <div class="control-group">    
              <b>Tipo de Conferência:</b>
               <div class="controls">
                <label class="radio inline">
              <span class="badge badge-info">Manual</span>&nbsp;<%= f.radio_button :tipo_confere, "M", {:id => "tipo_m"} %>
                </label>
                <label class="radio inline">
              <span class="badge badge-info">Planilha</span>&nbsp;<%= f.radio_button :tipo_confere, "A", {:id => "tipo_a"} %>&nbsp;
              <%= f.text_field :nome_arquivo, :class => 'input-medium', :disabled => 'disabled' %>
                </label>
              </div>  
            </div>
                
              
        </div>
        <%= f.submit 'Verificar' , :class => "btn btn-primary" %>
     </div> <!-- span7-->
     <div class="span6">

      <div class="control-group">    
        <br>
          <div class="control-group">    
            <div class="controls">
              <table class="table table-striped">
              <tr>
                <th>Pontuação</th>
                <th>Resultado</th>
                <th>Valor</th>
              </tr>
              <tr>
                <td>Total:</td>
                <td><span style="color:#1E90FF"><%= @resultado[:qtde_jogos] %></span> resultados cadastrados</td>
                <td></td>
              </tr> 
              <tr>
                <td>Total:</td>
                <td><span style="color:#1E90FF"><%= @resultado[:qtde_cartoes] %></span> cartões jogados</td>
                <td><span style="color:red"><b><%= number_to_currency(@resultado[:despesa])%></b></span></td>
              </tr>
              <tr>
                <td>08 pontos:</td>
                <td style="color:#666"><span style="color:#1E90FF"><%= @resultado[:pontos_8] %></span> acertos</td>
                <td><span style="color:#006400"><b>-</b></span></td>
              </tr>
              <tr>
                <td>09 pontos:</td>
                <td style="color:#666"><span style="color:#1E90FF"><%= @resultado[:pontos_9] %></span> acertos</td>
                <td><span style="color:#006400"><b>-</b></span></td>
              </tr>  
              <tr>
                <td>10 pontos:</td>
                <td style="color:#666"><span style="color:#1E90FF"><%= @resultado[:pontos_10] %></span> acertos</td>
                <td><span style="color:#006400"><b>-</b></span></td>
              </tr> 
              <tr>
                <td><b>11 pontos:</b></td>
                <td style="color:#666"><span style="color:#1E90FF"><%= @resultado[:pontos_11] %></span> acertos&nbsp;<a href="#" id="11pt" rel="tooltip" title="Concursos: <%= @resultado[:concurso11] %>"><i class="icon-search"></i></a></td>
                <td><span style="color:#006400"><b><%= number_to_currency(@resultado[:total_11])%></b></span></td>
              </tr> 
              <tr>
                <td><b>12 pontos:</b></td>
                <td style="color:#666"><span style="color:#1E90FF"><%= @resultado[:pontos_12] %></span> acertos&nbsp;<a href="#" id="12pt" rel="tooltip" title="Concursos: <%= @resultado[:concurso12] %>"><i class="icon-search"></i></a></td>
                <td><span style="color:#006400"><b><%= number_to_currency(@resultado[:total_12])%></b></span></td>
              </tr> 
              <tr>
                <td><b>13 pontos:</b></td>
                <td style="color:#666"><span style="color:#1E90FF"><%= @resultado[:pontos_13] %></span> acertos&nbsp;<a href="#" id="13pt" rel="tooltip" title="Concursos: <%= @resultado[:concurso13] %>"><i class="icon-search"></i></a></td>
                <td><span style="color:#006400"><b><%= number_to_currency(@resultado[:total_13])%></b></span></td>
              </tr> 
              <tr>
                <td><b>14 pontos:</b></td>
                <td style="color:#666"><span style="color:#1E90FF"><%= @resultado[:pontos_14] %></span> acertos&nbsp;<a href="#" id="14pt" rel="tooltip" title="Concursos: <%= @resultado[:concurso14] %>"><i class="icon-search"></i></a></td>
                <td><span style="color:#006400"><b><%= number_to_currency(@resultado[:total_14])%></b></span></td>
              </tr> 
              <tr>
                <td><b>15 pontos:</b></td>
                <td style="color:#666"><span style="color:#1E90FF"><%= @resultado[:pontos_15] %></span> acertos&nbsp;<a href="#" id="15pt" rel="tooltip" title="Concursos: <%= @resultado[:concurso15] %>"><i class="icon-search"></i></a></td>
                <td><span style="color:#006400"><b><%= number_to_currency(@resultado[:total_15])%></b></span></td>
              </tr> 
              <tr>
                <td></td>
                <td><b>TOTAL</b></td>
                <td><span style="color:#1E90FF"><b><%= number_to_currency(@resultado[:total])%></b></span></td>
              </tr> 
              <tr>
                <td></td>
                <td><b>DESPESA</b></td>
                <td><span style="color:red"><b><%= number_to_currency(@resultado[:despesa])%></b></span></td>
              </tr>
              <tr>
                <td></td>
                <td><b>RESULTADO</b></td>
                <% if @resultado[:final] && @resultado[:final] >= 0 %>
                  <td><span style="color:#1E90FF"><b><%= number_to_currency(@resultado[:final])%></b></span></td>
                <% else %>  
                  <td><span style="color:red"><b><%= number_to_currency(@resultado[:final].to_f)%></b></span></td>
                <% end %>  
              </tr>

             </table>
            </div>
          </div>  
          
        </div>


     </div> <!-- span6-->
   </div> <!-- row-fluid -->
   <div class="row">
    <div class="span17">

      <div id="hc" style="height:400px;"></div>

    </div>
   </div> 

 </div> <!-- span12-->
</div> <!-- row-fluid -->

<% end %>

<script> 

<% if !@resultado[:categories].blank? %>

Highcharts.setOptions({
        chart: {
            backgroundColor: {
                linearGradient: [0, 0, 500, 500],
                stops: [
                    [0, 'rgb(255, 255, 255)'],
                    [1, 'rgb(240, 240, 255)']
                    ]
            },
            borderWidth: 2,
            plotBackgroundColor: 'rgba(255, 255, 255, .9)',
            plotShadow: true,
            plotBorderWidth: 1
        }
    });
    
    var chart1 = new Highcharts.Chart({

        chart: {
            renderTo: 'hc'
        },

        title: {
            text: 'Análise Histórica'
        },

        rangeSelector : {
            selected : 50
        },

        tooltip: {
            formatter: function() {
              return '<b> Concurso:</b> ' + this.x + '<br><b>Prêmio:</b> R$ ' + moeda.formatar(this.y); //.toString().replace(".",",") ;
            }
        },
        
        scrollbar: {
          enabled: true
        },

        xAxis: {
            name: 'Concurso',
            categories: [<%= @resultado[:categories] %>],
        },

        navigator: {
         adaptToUpdatedData: false,
         enabled: true,

           xAxis: {
                tickWidth: 0,
                lineWidth: 0,
                gridLineWidth: 1,
                tickPixelInterval: 200,
                labels: {
                  enabled: false
                }
           }    
         },  

        yAxis: {
            title: {
                text: 'Prêmio (R$)'
            },
            labels: {
                formatter: function() {
                  return moeda.formatar(this.value); //.toString().replace(".",",");
                }
            }
        },

        series: [{
            name: 'Prêmio',
            data: [<%= @resultado[:data_series] %>]
        }]
    });
<% end %>

$('#11pt').tooltip();
$('#12pt').tooltip();
$('#13pt').tooltip();
$('#14pt').tooltip();
$('#15pt').tooltip();

if ($('#r15').is('input:checked')) {
  $('#home_pp').attr('disabled','disabled'); 
  $('#home_qq').attr('disabled','disabled'); 
  $('#home_rr').attr('disabled','disabled'); 
 }

 if ($('#r16').is('input:checked')) {
  $('#home_pp').removeAttr('disabled'); 
  $('#home_qq').attr('disabled','disabled'); 
  $('#home_rr').attr('disabled','disabled'); 
 }

 if ($('#r17').is('input:checked')) {
  $('#home_pp').removeAttr('disabled'); 
  $('#home_qq').removeAttr('disabled');  
  $('#home_rr').attr('disabled','disabled'); 
 }

if ($('#r18').is('input:checked')) {
  $('#home_pp').removeAttr('disabled'); 
  $('#home_qq').removeAttr('disabled');  
  $('#home_rr').removeAttr('disabled');  }

$('#r15').click(function() { 
  $('#home_pp').attr('disabled','disabled'); 
  $('#home_qq').attr('disabled','disabled'); 
  $('#home_rr').attr('disabled','disabled'); 
});

$('#r16').click(function() { 
  $('#home_pp').removeAttr('disabled'); 
  $('#home_qq').attr('disabled','disabled'); 
  $('#home_rr').attr('disabled','disabled'); 
});

$('#r17').click(function() { 
  $('#home_pp').removeAttr('disabled'); 
  $('#home_qq').removeAttr('disabled');  
  $('#home_rr').attr('disabled','disabled'); 
});

$('#r18').click(function() { 
  $('#home_pp').removeAttr('disabled'); 
  $('#home_qq').removeAttr('disabled');  
  $('#home_rr').removeAttr('disabled'); 
});

if ($('#tipo_c').is('input:checked')) {
  $('#home_concursos').removeAttr('disabled');  
}

if ($('#tipo_a').is('input:checked')) {
  $('#home_nome_arquivo').removeAttr('disabled');
}

$('#tipo_t').click(function() { 
  $('#home_concursos').attr('disabled','disabled');
});

$('#tipo_c').click(function() { 
  $('#home_concursos').removeAttr('disabled');
});

$('#tipo_m').click(function() { 
  $('#home_nome_arquivo').attr('disabled','disabled');
});

$('#tipo_a').click(function() { 
  $('#home_nome_arquivo').removeAttr('disabled');
});





</script>