<!DOCTYPE html>
<html>
<head>
  <title><%= t("app.nome_completo") %></title>

  <%= stylesheet_link_tag   "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<script>

jQuery(function($) {
       sipMask = new Mask();
       sipMask.autoDetect();
    });
</script>

<body>
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><%= t("app.nome") %></a>
          <ul class="nav">
           <li class='<%=@class_home %>' ><a style="font-size:13px" href="/home"><%= t("app.menu.home") %></a></li>
           <li class='<%=@class_analise %>' ><a style="font-size:13px" href="/analise"><%= t("app.menu.analise") %></a></li>
           <li class='<%=@class_transforme %>' ><a style="font-size:13px" href="/transforme"><%= t("app.menu.transforme") %></a></li>
            <li class='<%=@class_resultado %>' ><a style="font-size:13px" href="/resultado"><%= t("app.menu.resultado") %></a></li>
            <li class='<%=@class_premiacao %>' ><a style="font-size:13px" href="/premiacao"><%= t("app.menu.premiacao") %></a></li>
            <li class='<%=@class_lotofacil %>' ><a style="font-size:13px" href="/lotofacil"><%= t("app.menu.jogos") %></a></li>
          </ul>
        </div>
      </div>
    </div>

 <div class="container">
    <div class="content">
		  <div class="page-header">
		   </div>

			<% if notice.present? %>
			    <script>showNotification(true,'<%= notice %>');</script>
			<% end %>	
			<% if alert.present? %>
			    <script>showNotification(false,'<%= alert %>');</script>
			<% end %>
      <br>
        <%= yield %>

    </div>
    <br>
   <div class="row-fluid">
      <div class="span11"> 
      <hr>
      <footer>
	   <center><p><%= t("app.nome_completo") %></p></center>
	   </footer>
    </div>
    </div>

 </div>
</body>
</html>
